<!DOCTYPE html>
<html>
  <head>
    <title>Bing Example</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="http://cartodb.com/assets/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bing.css">
    
    <script src="/javascripts/bing.js"> </script>
    <script type="text/javascript" src="https://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&amp;s=1"></script>

  </head>
   
   <body>
    <h1> Bing Example </h1>
     <br/>
      <div id='myMap'></div>
      <br/>

    <form name="bingform" id="bingform">
      Search: <input id="bingplace" name="bingtext" type="text" placeholder ="input a place to locate">
      <input id="bingsub" type="submit"></input>
     </form>
    <br/>
    <a href="/"><button>Go Back to Home Page</button></a>
  </body>
</html>