<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Google Heatmap</title>
    <script src="/javascripts/gheatmap.js"> </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=+AIzaSyDdH6HRIQ2Wn4sQkkPDQCCMDvVzBo832f4+&libraries=visualization&signed_in=true"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/gmaps.css">
  </head>
  <body>
    <h1> Google Maps Map Demo </h1>
    <div id="map"></div>

  </br>

  
  <a href="/gmap"><button>Go Back to Google Map</button></a>
  <br/> 
  
  </body>
</html>