<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Google Maps Example</title>
    <script src="/javascripts/GMaps.js"> </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=+AIzaSyDdH6HRIQ2Wn4sQkkPDQCCMDvVzBo832f4+&signed_in=true"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/GMaps.css">
  </head>
  <body>
  
    <div id="map"></div>

  </br>

  <form onsubmit="gsubmit(event)" name="gform">
    Search: <input id="gplace" name="gtext" type="text" placeholder ="input a place to locate">
    <input type="submit"></input>
  </form>
  
  </body>
</html>