<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Google Maps Example</title>
    <script src="/javascripts/gmaps.js"> </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=+AIzaSyDdH6HRIQ2Wn4sQkkPDQCCMDvVzBo832f4+&signed_in=true"></script>

    <link rel="stylesheet" type="text/css" href="/stylesheets/gmaps.css">
  </head>
  <body>
    <h1> Google Maps Map Demo </h1>
    <div id="map"></div>

  </br>

  <form name="gform" id="gform">
    Search: <input id="gplace" name="gtext" type="text" placeholder ="input a place to locate">
    <input id="gsub" type="submit"></input>
  </form>
  <br/>

  <a href="/"><button>Go Back to Home Page</button></a>
  <br/> 
  <div> Features </div> 
  <ul> 
    <a href="/gheatmap"><li>heatmaps</li> </a>
    <a href="/gpolygons"><li>polygons</li> </a>
    <li>visualization layers</li>
    <li>Street View </li>
    <li>Editable Shapes</li>
    <li>Fusion Table Support</li>
    <li>Data Layers</li>
    <li>Geometry Drawing Tools </li>
    <li>Lots more...</li>
  </ul>
  </body>
</html>