

<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/gstyles.css">
    <script src="/javascripts/gstyles.js"> </script>
    
  </head>
  <body>
  	<h1> Style Your Map </h1> 

	<h3>http://www.evoluted.net/thinktank/web-design/custom-google-maps-style-tool</h3>
    <p> Here you an create the styles parameter that you pass to the map on initialization to style the map like below </p>
    <div id="map"></div>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=" + "AIzaSyDdH6HRIQ2Wn4sQkkPDQCCMDvVzBo832f4" + "&callback=initMap"
    async defer></script>
	<br/><br/>

	<a href="/gmap"><button>Back to Google Maps</button></a>

  </body>
</html>


