<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Maps </h1> 

    <h3> Select a Map Type from the List below </h3> 

    <ul>
    	<li><a href="/gmap">Google Maps</a></li>
      <br/>
    	<li> <a href="/mapbox">Mapbox</a></li>
      <br/>
      <li> <a href="/leaflet">Leaflet</a></li>
      <br/>
      <li> <a href="/openlayers">OpenLayers</a></li>
      <br/>
      <li> <a href="/bing">Bing</a></li>
    </ul>


  </body>
</html>
