<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Maps </h1> 

    <h3> Select a Map Type from the List below </h3> 

    <ul>
    	<li><a href="/gmap">Gooogle Maps</a></li>
    	<li> <a href="/mapbox">Map Box</a></li>
      <li> <a href="/cartodb">CartoDb</a></li>
    </ul>


  </body>
</html>
