<!DOCTYPE html>
<html>
<head>
  <title>My Geocoding Map</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.4.0/leaflet-geocoder-mapzen.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geocoder-mapzen/1.4.0/leaflet-geocoder-mapzen.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/leaflet.css">
  <script src="/javascripts/leaflet.js"> </script>
</head>
<body>
	<h1> Leaflet Example</h1>
  
  <div id="map-container">
    <span id="map"></span>
  </div>
  <br/>

  <form name="lform" id="lform">
    Search: <input id="lplace" name="ltext" type="text" placeholder ="input a place to locate">
    <input id="lsub" type="submit"></input>
  </form>
  <br/>

  <span><a href="/"><button>Go Back to Home Page</button></a></span>
  <br/>
  <a href="/lheatmap"><button>Heatmap</button></a>
</body>
</html>