<!doctype html>
<html class="no-js">
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/olmarkeroverlay.css">
        <script src="/javascripts/oloverlay.js"> </script>
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">        

            <div id="map" class="map"></div>

        </div>

        <script src="../javascripts/ol.js" type="text/javascript"></script>
		
		<br/>
		<a href="/openlayers"><button>Go Back to OpenLayers Map</button></a>

    </body>

</html>