<!doctype html>
<html class="no-js">
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/olmarkeroverlay.css">
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">        

            <div id="map" class="map"></div>

        </div>

        <script src="http://openlayers.org/en/v3.4.0/build/ol.js" type="text/javascript"></script>

        <script id="code">
            // Creates an overlays in the given coordinates
            function createCircleOutOverlay(position) {
                var elem = document.createElement('div');
                elem.setAttribute('class', 'circleOut');
                return new ol.Overlay({
                    element: elem,
                    position: position,
                    positioning: 'center-center'
                });
            }
            var map = new ol.Map({
                target: 'map',
                renderer: 'canvas',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.MapQuest({
                            layer: 'osm'
                        })
                    })
                ],
                view: new ol.View({
                    center: [0, 0],
                    zoom: 2
                })
            });
            // Read data file
            $.get('2012_Earthquakes_Mag5.kml')
                .done(function(response){
                    var format = new ol.format.KML();
                    var features = format.readFeatures(response, {
                      featureProjection: 'EPSG:3857'
                    });
                    var coordinates, overlay;
                    for (var i = 0; i < features.length; i+=15) {
                        coordinates = features[i].getGeometry().getCoordinates();
                        overlay = createCircleOutOverlay(coordinates);
                        map.addOverlay(overlay);
                    };
                });
        </script>
		
    </body>

</html>